a
{
    color: black;
    font-family: 'Manrope', sans-serif;
    font-size: 1em;
    text-decoration: none;
}

.important {
    color : #A5B4FC;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5em;
    color : #A5B4FC;
}

p {
    font-family: 'Manrope', sans-serif;
    font-size: 1.1em;
}

li {
    font-family: 'Manrope', sans-serif;
    font-size: 1em;
}