* {
  margin: 0;
}

body {
  /* Ici on utilise le sélecteur body pour appliquer une police et une taille par défaut pour les éléments */
  font-family: 'Manrope', sans-serif;
  font-size: 1em;
  background-color: #1F2039;
}

a {
  color: #242424;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

em {
  color: #a5b4fc;
  font-style: normal;
}

h1 {
  font-size: 3.5em;
  color: #a5b4fc;
  font-family: 'Montserrat', sans-serif;
}

p {
  font-size: 1.1em;
}

li , h2 , p {
  color: #F9F8FF;
}   

header,
footer  {
  background-color: white;
  padding : 20px 50px 20px 50px;

}

section {
    padding: 80px;
}

.lien_icone:hover {
        opacity: 0.4;
}

.degrade_lien {
    background: linear-gradient(#8E86B5, #ACAEED);
    border-radius: 50px;
}  

.degrade_lien:hover {
    background: linear-gradient(#696484 , #8788BA);
    text-decoration: none;
}

.tableau_competences {
    border-right: 1px solid #8e86b5;
    border-bottom: 1px solid #8e86b5;
    padding : 50px;
}

.tableau_competences h2 {
  margin-top : 10px  
}

.tableau_competences ul {
  margin-top : 30px;
}

.a_propos {
  width: 50%;
  margin: auto;
}

.projet {
  text-align: center;
}

header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo_header {
  display: flex;
  width: 20%;
  justify-content: flex-start;
}

.lien_header {
  display: flex;
  width: 80%;
  justify-content: flex-end;
  gap: 50px;
}

.texte_acceuil {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.presentation {
  width: 60%;
  height: 300px;
  margin: auto;
  box-shadow: #F9F8FF 5px 5px 10px;
  padding-bottom: 30px;
  padding: 20px 5px 20px 5px;
} 

.photo_robbie {
  width: 35%;
  margin: auto;
}


.div_photos {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
} 

